<form action="/" method="POST">
    <input type="url" id="originalURL" name="originalURL" placeholder="Input URL here" style="vertical-align: middle;" required />
    <button type="submit" class="btn btn-primary">Shorten</button>
</form>
