<h1>generated URL</h1>

{{#if shortURL}}
<div class="result">
  <h3>Success! Please use this link:</h3>
  <p id="generatedURL"></p>
  <button class="copy" onclick="copy()">Copy</button>
</div>

{{/if}}